<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" style="color: black; font-size: 20px; font-weight: bold; float: left; padding: 11px" class="brand">
              <p class="word-logo" style="background-color:white; padding: 0px 8px; display: inline-block; margin-bottom: 0">
                S
              </p>
              <p class="word-logo" style="background-color:white; padding: 0px 8px; display: inline-block; margin-bottom: 0;margin-left: -1.5px">
                K
              </p>
              <p class="word-logo" style="background-color:white; padding: 0px 8px; display: inline-block; margin-bottom: 0;margin-left: -1.5px">
                F
              </p>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <li id="create"><a href="#">Create Post</a></li>

              <li id="event"><a href="/events/1">Event</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">



                <li><p class="navbar-text"><a href="/login" class="login-button">Login!</a></p></li>
                <li></li>


                  <li></li>
                  <li></li>


            </ul>
        </div>
      </div>
      </nav>
